.a3{
    padding-left: 400px;
    padding-top: 20px;
}
.a4{
    border: 1px #ff5821;
    height:35px ;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    background: #ff5821;
    color: #ffffff;
    padding-top: 5px;
}

.c{
    width: 100%;
    height: 576px;
    background-image: url(1.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;

    
}
.c::before{
  content: "";
  position: absolute;
  background:rgba(0,0,0, 0.6) ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.c1{
  padding-top: 280px;  
  padding-left: 20px; 
  position: absolute;
  
}
.c2{
    font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  z-index: 2;
  font-family:"t1";
}

.c3{
    color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
  font-family:"t1";
}

.a{
    background: #39312f;
    color: #ffffff;
}
.a1{
    
    padding-left: 60px;
    color: #ffffff;
}
.a2{
    padding-left: 40px;
}
.pd{
  background-color: #ff5821;
  margin-top: -90px;
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
  z-index: 2;
   
}
.pd1{
  font-size: 26px;
  color: #ffffff;
  margin-left: -50px;
  font-family:"t1";
}
.pd4{
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px 30px;
    margin-top: -50px;
    font-family:"t1";

}





.pd5,.pd7{
  z-index: 2;
}
.pd2{
     border: 1px solid;
    height:35px ;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    background: #ff5821;
    color: #ffffff;
    padding-top: 5px;
    margin-left: 100px;
    font-family:"t1";
   
}

 .durai {
  background: url("about-img.jpg");
  background-size: cover;
  min-height: 500px;
  
}

.durai1{
  margin-top: 30px;
}
.n{
  font-size: 30px;
  color: #ff5821;
 
}
.z{
  width: 64px;
  height: 64px;
  border: 2px solid #ff5821;
  font-size: 30px;
  color:#ffffff;
  background-color:#ff5821;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
#about{
  background-color: #fff9f7;;
}
.z :hover{
 
background-color: #ff5821;
  
}


.e1{
  text-align: center;
  padding: 40px;
  font-family:"t1";
}
.e3 {
  width: 64px;
  height: 64px;
  border: 2px solid #ff5821;
  font-size: 30px;
  color:blueviolet;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: -60px;
  background-color: #ff5821;
  font-family:"t1";
}

.e2{

   text-align: center;
   padding: 40px 10px;
   background: #fff;
   
}

.e4{
  margin-top: 30px;
  text-align: center;
   padding: 40px 10px;
   background: #fff;

   
}
.e5{
  font-size: 30px;
text-align: center;
color:blueviolet;
width: 64px;
  height: 64px;
  border: 2px solid #ff5821;
  font-size: 30px;
  background-color: #ff5821;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: -60px;
  transition:0.5s;
}
.e{
  background-color: #fff9f7;
  margin-top: 20px;
}
.e2 :hover{
  background-color: #fff;
}
.e4 :hover{
  background-color: #fff;

}
.f{
  margin-top: 20px;

}

.f1{
  border: 1px solid white;
  height: 337px;
  width: 560px;
  background-image: url(values-1.jpg);
}
.f2{
  border: 1px solid white;
  height: 337px;
  width: 560px;
  background-image: url(values-2.jpg);
  background-size: cover;
}
.f6{
  border: 1px solid white;
  height: 337px;
  width: 560px;
  background-image: url(values-3.jpg);
  background-size: cover;
}
.f11{
  border: 1px solid white;
  height: 337px;
  width: 560px;
  background-image: url(values-4.jpg);
  background-size: cover;
}
.f3{
  width: 506px;
  height: 127px;
  margin-top: 180px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  z-index: 10;
  transition: 0.5s;

}
.f4,.f5{
  text-align: center;
  margin-top: 10px;
  font-family:"t1";
  
}
.f7{
  
  width: 506px;
  height: 127px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin-top: 180px;
  margin-left: 20px;
  z-index: 10;
  transition: 0.5s;
  

}
.f2 :hover{
  background-color: #ff5821;
}
.f1 :hover{
  background-color: #ff5821;
}
.f8{
  width: 506px;
  height: 127px;
  margin-top: 180px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  z-index: 10;
  transition: 0.5s
}
.f9,.f10{
  text-align: center;
  margin-top: 20px;
  font-family:"t1";
}
.f12{
  width: 506px;
  height: 127px;
  margin-top: 180px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  z-index: 10;
  transition: 0.5s;

}

.f6 :hover{
  background-color: #ff5821;
}
.f11 :hover{
  background-color: #ff5821;
}
.f13{
  margin-top: 20px;
}

.j{
  border-radius: 1px solid;
  border-radius: 50px;
}
.j3{
  color: #ffffff;
  font-family:"t1";
}
.j4{
  margin-top: 20px;
}
.k1{
text-align: center;
font-family:"t1";
}
.k{
  margin-top: 20px;
  background-color: #fff9f7;
}
.k3{
 
 height: 50px;
 width: 260px;
 display: flex;
 justify-content: space-around;
 text-align: center;
 background-color: #ffffff;
 margin-top: -30px;
 z-index: 2;
 
}
.k4{
  text-align: center;
  margin-bottom: 20px;
    border-radius: 5px;
    background: #fff;
    font-family:"t1";
}
.k3:hover{
  color:#ff5821;
}
.x1{
  text-align: center;
}
.na{
  color: #ccc;
  text-decoration: line-through;
}
.x2{
  font-weight: 400;
 text-align: center;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #656262;
  background: #f8f8f8;
}
.x3{
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}
.x4{
  background: #ff5821;
  display: inline-block;
  padding: 6px 35px 8px 35px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
  color: #fff;
}
.x5{
  font-weight: 400;
 text-align: center;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #f8f8f8;
  background:#ff5821;
}
.x{
  margin-top: 20px;
}

.m{
  height: 36px;
  width: 80px;
}
.ro{
  padding-top: 10px;
}
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ff5821;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff5821;
}

.clients .swiper-slide img {
  opacity: 0.5;
  filter: grayscale(100%);
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0880e8;
}
.clients .owl-nav,
.clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 10px 15px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients .owl-dot.active {
  background-color: #0880e8 !important;
}
.y{
  margin-top: 40px;
  background-color:#fff9f7;
}
.y1{
text-align: center;
font-family:"t1";
}
.y3{
  text-align: center;
  font-family:"t1";
}
.y6{
 
  color: #ff5821;
  
}
.contact{
  text-align: center;
  margin-top: 40px;
  font-family:"t1";
}
.contact .info-box {
  color: #313030;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px;
}

.contact .info-box i {
  font-size: 32px;
  color: #ff5821;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #ffded4;
  float: left;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #656262;
  font-weight: 700;
  margin: 10px 0 10px 68px;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ff5821;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #ff5821;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
  background: #ff7e54;
}
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #656262;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: #ff5821;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #313030;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: #ff5821;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #ff5821;
  display: inline-block;
  padding: 6px 35px 8px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #ff7e54;
}

.pricing .featured h3 {
  color: #fff;
  background: #ff5821;
  box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ff5821;
  color: #fff;
}
.pricing{
  text-align: center;
  margin-top: 30px;
}
#footer {
  color: #313030;
  font-size: 14px;
  background: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff9f7;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #656262;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #313030;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffa587;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #656262;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #ff5821;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #313030;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #ffe2d9;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ff5821;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #ed3b00;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #313030;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ff5821;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ff7e54;
  color: #fff;
  text-decoration: none;
}
.credits{
  text-align: center;
 padding-left: 500px;
}

.pt{
  padding-left: 20px;
  font-family:"t1";
 
} 
@font-face {
  font-family:"t1";
  src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.pt1{
  font-family:"t1";
}
.durai3{
  font-family:"t1";
}
.accordion-header{
  font-family:"t1";
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #313030;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #ff5821;
  background: #fff1ed;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #473d3a;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #7f6d68;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #635551;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #ff5821;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #ffa587;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}
.portfolio-details {
  padding-top: 20px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ff5821;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff5821;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(71, 61, 58, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}
.ta{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}